* {
  text-decoration: none !important;
}

.App {
  text-align: center;
}

.form {
  display : block;
}

.form-control {
  display :block;
  align-items: center;

}

.text-area {
  width : 100%;
  height : 70px
}

.title-input {
  width: 100%;
  height: 40px;
  margin: 10px 0 10px;
}

.btn {
  border-radius: 0;
  width: 100%;
}

.submit-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: none;
  background: rgb(0, 25, 147);
  border-radius: 5px;
  color :#ffff
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}

a {
  color : black;
}

.list-wrapper{
  margin-top: 80px;
}

.write-wrapper{
  width: 80%;
  margin: 80px auto;
}

.link {
  color : #ffff
}

.nav-link {
  color :#ffff;
}

.sign-up {
  text-align: center;
  padding-top: 20px;
  color :rgb(0, 25, 147);
  font-weight:bolder;
}

.post-view-go-list-btn, .post-write-btn, .post-view-go-modify-btn, .reply-btn {
  width :100px;
  margin: 5px 5px;
}

.post-view-wrapper {
  padding : 80px;
  margin : 0 auto;
  width : 1200px;
  height: auto;
}

.date-before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #ccc;
  margin: 0 10px 0 6px;
  vertical-align: -2px;
}

#container {
  margin-top: 170px;
  height: 280px;
  position: absolute;
  left: 50%;
  margin-left: -180px;
  width: 360px;
}