@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    * {
      text-decoration: none !important;
      font-family: 'SpoqaHanSansNeo-Regular';
    }
    
    .Main {
      text-align: center;
    }
    
    .btn {
      border-radius: 0;
      width: 100%;
    }
    
    .category {
      margin-top: 5rem;
      margin-bottom : -15rem;
      width: 100%;
      margin-right: 2em;
    }
    
    .card-header {
      color : white;
      padding: .75rem 1.25rem;
      background-color: #0047b1c2;
      border-bottom: 1px solid;
    }
    
    .card-body {
      padding : 0 ;
      border: 1px solid rgba(0,0,0,.125);
      margin-bottom: 100px;
      width : 500px
    }
    
    .card-text {
      padding : 15px;
      font-weight: 500;
      color :rgb(104, 104, 104)
    }
    
    .form {
      display : block;
    }
    
    .form-control {
      display :block;
      align-items: center;
      padding : 0, 0 , 0 ,0;
    }
    
    .toast {
      width : 100%;
      padding : 10px 0 10px;
    }

    .link {
      color : #000a1a
    }
    
    .home-link {
      color : #ffff;
      font-weight:700;
      font-size: x-large;
    }
    
    .home-list-wrapper {
      margin: 0 -30px auto;
      width: 100%;
      min-height: 100%;
    }
    
    .nav-link {
      color :#ffff;
    }
    
    .navbar { 
      width: 100%;
      position: fixed ;
      top  : 0;
      margin-bottom: 10px;
      justify-content: space-around;
      z-index: 999;
    }

    .navbar-brand {
      margin-right: 11rem;
      font-size: 1.25rem;
      white-space: nowrap;
    }
    
    .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      align-items: flex-end;
      flex-direction: column;
    }
    
    .search-bar {
      margin-top: 30px;
      display: flex;
      justify-content: center
    }
    
    .post-view-go-list-btn, .post-write-btn, .post-view-go-modify-btn, .reply-btn {
      width :100px;
      margin: 5px 5px;
    }
    
    a {
      color : black;
    }
    
    li {
      list-style:none;
      padding : .5em;
    }
    
    hr {
      margin-top: 30px;
      margin-bottom: 30px;
    }

 